<div class="timer" *ngIf="timerRunning">
  <div class="time" *ngIf="time"
  [ngStyle]="{ 'color': color }">{{ time.toFixed(3) }}</div>
  <div class="time" *ngIf="!time"
   [ngStyle]="{ 'color': color }">0</div>
</div>
<div class="timer" *ngIf="!timerRunning && !countDownRunning">
  <div class="time" *ngIf="time"
  [ngStyle]="{ 'color': color }">{{ time.toFixed(3) }}</div>
  <div class="time" *ngIf="!time"
   [ngStyle]="{ 'color': color }">0</div>
</div>
<div class="timer" *ngIf="countDownRunning">
  <div class="time" *ngIf="time"
  [ngStyle]="{ 'color': color }">{{ time.toFixed(0) }}</div>
  <div class="time" *ngIf="!time"
   [ngStyle]="{ 'color': color }">0</div>
</div>



