.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vw;
  width: 50vw;
  background: black;
  position: absolute;
  margin-top: 200px;
  margin-left: 20vw;
  border-radius: 20px;
}

.time {
  font-size: 10vw;
  position: absolute;
}
