li {
  background: none;

}

.btn {
  background: black;
}

.container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  height: 50vh;
  background: black;
  overflow: auto;
}

ul {
  background: none;
  list-style: none;
}
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #90E4C1;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #90E4C1;
}
